.navbar {
    overflow: hidden;
    background-color: rgba($color-black, 0.801);
    z-index:100;


    a:link {
      float: right;
      display: block;
      
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    a {
      color: $color-white;
      font-family: $secondary-font-fam;
      text-transform: uppercase;
    }

    a:hover {
      background-color: $color-primary;
      color: $color-black;
    }

    a.donate-link {
      background-color: $color-primary-light;
      color: $color-black;

      &:hover {
        background-color: $color-primary;
      color: $color-black;
      }
    }

    &__logo {
        float:left;
        display: block;
        height: 5.5rem;
    }

    }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 95%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }