/* COLOR */

$color-primary: #aad400;
$color-primary-light: #ccff00;
$color-primary-dark: #88aa00;

$color-secondary: #08769b;
$color-secondary-dark: #04395a;

$color-gray-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZES 
$default-font-size: 1.6rem;

//FONT FAMILIES
$secondary-font-fam: 'Fjalla One', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;