.photo-box {
 
    position: relative;

    &__photo {
        width: 100%;
    }
    
    &__name{
        color: $color-white;
        font-family: $secondary-font-fam;
        font-size: 1.8rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-secondary-dark, .8));
        position: absolute;
        bottom: 0;
        transform: translateY(-50%);
        z-index: 98;
        width: 100%;
        padding: .5rem;
        text-align: center;
    }
}

.team-box {
    @include default-box-shadow;
        background-color: $color-white;
    &__text {
        display: block;
        padding: 2rem 3rem;
    }
}