.section-mission {
    padding: 10rem 10rem 8rem 10rem;
    background-color: $color-gray-light-1;
    height: 10vh;

    &__text {
        color: $color-grey-dark-3;
        font-size: 3rem;
        font-weight: 400;
    }
}

.section-mission-img {

    &__bg {
        background-color: $color-gray-light-1;
    }

        background-image: 
        url("../images/homepage/mission_bg_bw.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    
        clip-path: polygon(0 50vh, 100% 30vh, 100% 100%, 0 100%);

}

.section-about {
   padding: 7rem 0;
   background-color: $color-gray-light-1;
    height: 95vh;
}

.section-events {
    padding: 5rem 0 10rem 0;
    background-color: $color-gray-light-1;
    height: 100h;

    &__background {
        padding: 5rem 0;
        height: 95vh;
        background-image: 
        linear-gradient(
            to right bottom, 
            rgba($color-primary, 0.7), 
            rgba($color-secondary, 0.7)), 
        url("../images/homepage/events_background.jpg");
    background-size: cover;
    background-position: bottom;
    
    transform: skewY(-7deg);
    & > * {
        transform: skewY(7deg);
    }
    }
}